<ul>
<li>
<%= link_to 'Logo', user_path, class: "new-post-link" %> 
</li>
<li>
<%= link_to 'Food List', user_food_path, class: "new-post-link" %> 
</li>
<li>
<%= link_to 'Recipe List', user_recipe_path, class: "new-post-link" %> 
</li>
<li>
<%= link_to 'Public Recipe List', user_food_path, class: "new-post-link" %> 
</li>
<li>
<%= link_to 'General Shopping List', user_food_path, class: "new-post-link" %> 
</li>

</ul>