<ul class="nav-bar">
  <li class="nav-item">
    <%= link_to 'Logo', 'https://github.com/manq2010/recipe-app', class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Food List', foods_path, class: "nav-link" %> 
  </li>
  <li class="nav-item">
    <%= link_to 'Recipe List', recipes_path, class: "nav-link" %> 
  </li>
  <li class="nav-item">
    <%= link_to 'Public Recipe List',  recipes_path, class: "nav-link" %> 
  </li>
  <li class="nav-item">
    <%= link_to 'General Shopping List',  recipes_path, class: "nav-link" %> 
  </li>
  <li class="nav-item">
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
    </li>
</ul>
